* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Heebo", sans-serif;
}

body {
  margin: 15px 15px 15px 15px;
  background-color: black;
  min-height: 62rem;
}

@media (max-width: 767px) {
  body {
    margin: 0;
  }
}

body .box {
  background-color: #f8f9fa;
  min-height: 61rem;
  font-family: "Heebo", sans-serif;
}

body .box .row {
  min-height: 6.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .box .row .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0px 0px 53px;
}

body .box .row .left logo {
  margin: 12px 23px 7px 0px;
}

@media (max-width: 767px) {
  body .box .row .left logo {
    margin: 23px 19px 7px 7px;
  }
}

body .box .row .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  body .box .row .left ul {
    display: none;
  }
}

body .box .row .left ul li {
  margin: 25px 36px 0px 19px;
}

body .box .row .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26rem;
  margin-top: 19px;
}

@media (max-width: 767px) {
  body .box .row .right {
    display: none;
  }
}

body .box .row .right p {
  margin-bottom: 0rem;
}

body .box .row .right .icon {
  width: 25px;
  margin: 9px;
}

body .box main .boxes {
  min-height: 50rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .box main .boxes .left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50rem;
}

@media (max-width: 767px) {
  body .box main .boxes .left-box {
    min-height: 23rem;
  }
}

body .box main .boxes .left-box .text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 58px 0px 0px 81px;
}

body .box main .boxes .left-box .text1 .filter {
  width: 65px;
  margin: -9px 21px 0px 2px;
}

@media (max-width: 767px) {
  body .box main .boxes .left-box .text1 .filter {
    width: 55px;
    margin: -13px 22px 0px -8px;
  }
}

body .box main .boxes .left-box .text1 p {
  border: 1px solid black;
  border-radius: 26px;
  padding: 9px 28px 1px 28px;
}

@media (max-width: 767px) {
  body .box main .boxes .left-box .text1 p {
    padding: 2px 28px 1px 28px;
  }
}

body .box main .boxes .left-box .text2 {
  padding: 0px 0px 52px 23px;
}

@media (max-width: 767px) {
  body .box main .boxes .left-box .text2 {
    padding: 0px 38px 0px 23px;
  }
}

body .box main .boxes .left-box .text2 .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 5px 19px 28px;
}

body .box main .boxes .left-box .text2 h6 {
  font-size: 1.1rem;
  margin-left: 57px;
}

body .box main .boxes .center img {
  max-height: 50rem;
}

@media (max-width: 767px) {
  body .box main .boxes .center img {
    max-height: 31rem;
  }
}

body .box main .boxes .right-box .card {
  min-height: 45rem;
  margin: 52px 0px 0px 53px;
  padding: 3rem 2rem 2rem 2rem;
  width: 25rem;
}

@media (max-width: 767px) {
  body .box main .boxes .right-box .card {
    margin: 4px 13px 8px 0px;
    width: 21.7rem;
  }
}

body .box main .boxes .right-box .card .card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem;
}

body .box main .boxes .right-box .card .card-title {
  margin-bottom: 0.5rem;
  padding: 0px 0px 15px 0px;
}

body .box main .boxes .right-box .card h4 {
  border: 2px solid black;
  padding: 9px;
  background-color: #dee2e6;
  text-align: center;
}

body .box main .boxes .right-box .card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0rem;
}

body .box main .boxes .right-box .card .card-text {
  padding-bottom: 8rem;
}

@media (max-width: 767px) {
  body .box main .boxes .right-box .card .card-text {
    margin-top: 37px;
    margin-bottom: 0rem;
    padding-bottom: 3rem;
  }
}

body .box main .boxes .right-box .card h5 {
  color: red;
}

body .box main .boxes .right-box .card h6 {
  font-size: 1rem;
  padding-top: 7px;
}

body .box main .boxes .right-box .card p {
  padding-bottom: 7px;
  margin-top: 0;
  padding-top: 38px;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */